.button-primary {
  background-color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 12px 12px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: grey;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 12px 12px;
  cursor: pointer;
}

.button-primary:active {
  background-color: red;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 12px 12px;
  cursor: pointer;
}

.content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  display: inline-block;
  font-size: 220px;
  line-height: 0.9;
  padding: 20px;
  font-family: "Syncopate", sans-serif;
  text-transform: uppercase;
  background-image: url(https://codepen-large-media.s3-ap-southeast-1.amazonaws.com/tumblr_o632cm2m4S1rurt8eo1_500.webp);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
